.page-container {
  display: flex;
  flex-direction: column;
}

.video-container {
  display: flex;
  padding-bottom: 4vh;

  @include extrasmall {
    flex-direction: column-reverse;
  }
  @include small {
    flex-direction: column-reverse;
  }
}

.content {
  align-self: center;
  text-align: center;
  width: 60vw;

  @include extrasmall {
    padding: 1vw;
    width: 90vw;
  }
  @include small {
    padding: 1vw;
    width: 90vw;
  }
}

.page-header {
  color: #524d4d;
  margin: 0;
  padding: 4vh 2vw;
  text-align: center;
}
