.videoContainer {
  display: flex;

  @include extrasmall {
    flex-direction: column-reverse;
  }
  @include small {
    flex-direction: column-reverse;
  }
}

.content {
  width: 60vw;
  text-align: center;
  padding: 2vw;
  align-self: center;

  @include extrasmall {
    width: 90vw;
  }
  @include small {
    width: 90vw;
  }
}

.customerLinks {
  ul {
    font-weight: 400;
  }
}
