.pageContainer {
  //min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.videoContainer {
  display: flex;

  @include extrasmall {
    flex-direction: column-reverse;
  }
  @include small {
    flex-direction: column-reverse;
  }
}

.content {
  width: 60vw;
  text-align: center;
  align-self: center;

  @include extrasmall {
    padding: 1vw;
    width: 90vw;
  }
  @include small {
    padding: 1vw;
    width: 90vw;
  }
}

.pageHeader {
  text-align: center;
  padding: 4vh 0;
  margin: 0;
  color: black;
}
