.header {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #e0e0e0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.05em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 15vh;
}

.logo {
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 2vh 0;

  @include extrasmall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
  }
  @include small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
  }
}

.navigation {
  font-weight: 700;
  margin: 0 4vh 2vh;
  min-width: 50%;

  label {
    display: none;

    @include extrasmall {
      background: #eee;
      border-radius: 3px;
      cursor: pointer;
      display: block;
      margin: 0;
      padding: 1vh 4vw;
    }
  }

  .menu-toggle {
    display: none;
  }

  .menu-toggle:checked + .nav-list {
    display: block;
  }

  label:before {
    content: '\2630';
    margin-right: 10px;
  }

  .nav-list {
    list-style: none;
    margin: 0;
    text-align: center;

    @include extrasmall {
      border-radius: 0 0 5px 5px;
      color: inherit;
      display: none;
    }

    li {
      display: inline-block;
      margin: 0 2vw;

      @include extrasmall {
        display: block;
        margin: 0;
        text-align: left;
      }

      a {
        color: black;
        display: block;
        text-decoration: none;
        transition: color 0.3s;

        @include extrasmall {
          color: inherit;
          padding: 2vw 4vw;

          &:hover {
            background: #f6f7f7;
            color: inherit;
          }

          &.active {
            background: #f6f7f7;
            color: inherit;
          }
        }

        &:hover {
          color: #ff1200;
        }

        &.active {
          color: #ff1200;
        }
      }
    }
  }
}
