.header {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #e0e0e0;
  min-height: 15vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  margin: 0;
  max-width: 100%;
  height: auto;
  padding: 2vh 0;

  @include extrasmall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
  }
  @include small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
  }
}

.navigation {
  font-weight: 700;
  min-width: 50%;
  margin-bottom: 2vh;

  label {
    display: none;

    @include extrasmall {
      cursor: pointer;
      display: block;
      margin: 0;
      padding: 1vh 4vw;
      background: #eee;
      border-radius: 3px;
    }
  }

  .menu-toggle {
    display: none;
  }
  .menu-toggle:checked + .nav-list {
    display: block;
  }

  label:before {
    content: "\2630";
    margin-right: 10px;
  }

  .nav-list {
    list-style: none;
    margin: 0;
    text-align: center;

    @include extrasmall {
      display: none;
    }

    li {
      margin: 0 2vw;
      display: inline-block;

      @include extrasmall {
        display: block;
        text-align: left;
        margin: 2vw 0;
      }

      a {
        color: black;
        text-decoration: none;
        transition: color 0.4s;

        &:hover {
          color: #ff1200;
        }

        &.active {
          color: #ff1200;
        }
      }
    }
  }
}
