.passcode-form {
  align-self: center;
  display: flex;
  flex-direction: column;
  min-width: 20%;

  .secure-font {
    -webkit-text-security: disc;

    &.error {
      animation: error 0.8s ease;
      border-color: rgba(168, 15, 15, 1);
      box-shadow: 0 0 2px 1px rgba(168, 15, 15, 1);
    }
  }

  input {
    border: 1px solid #999;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    outline: none;
    padding: 10px 20px;

    &:focus {
      border-color: rgb(121, 171, 220);
    }
  }

  label {
    color: #524d4d;
    font-weight: 700;
    padding: 20px 0;
  }

  button {
    background: rgb(81, 145, 210);
    border-radius: 5px;
    box-shadow: 0 10px 15px -6px rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 700;
    padding: 10px 20px;
    transition: 0.3s;

    &:hover {
      background: darken(rgb(81, 145, 210), 5%);
      transition: 0.3s;
    }
  }
}

@keyframes error {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-6px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(6px);
  }
}
