.sidebar {
  width: 20vw;
  padding: 0 2vw;
  align-self: center;

  @include extrasmall {
    padding: 1vw;
    width: 90vw;
  }
  @include small {
    padding: 1vw;
    width: 90vw;
  }

  ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    border: 1px solid #e1e4e6;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  li {
    color: rgb(80, 80, 80);
    text-decoration: none;
    border-bottom: 1px solid #e1e4e6;
    margin: 0;
    padding: 1vw 1vw;

    &:hover {
      background: rgb(69, 134, 187);
      color: white;

      &:first-of-type {
        border-radius: 10px 10px 0 0;
      }

      &:last-of-type {
        border-radius: 0 0 10px 10px;
      }
    }

    &.active {
      color: white;
      background: rgb(40, 96, 144);

      &:first-of-type {
        border-radius: 10px 10px 0 0;
      }

      &:last-of-type {
        border-radius: 0 0 10px 10px;
      }
    }
  }
}

.sidebar.right {
  @include extrasmall {
    display: none;
  }
  @include small {
    display: none;
  }
}

.videoNav {
  cursor: pointer;
}
