.sidebar {
  align-self: center;
  padding: 0 2vw;
  user-select: none;
  width: 20vw;

  @include extrasmall {
    padding: 0 4vh 2vh;
    width: 100%;
  }
  @include small {
    padding: 0 4vh 2vh;
    width: 100%;
  }

  ol {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: 1px solid #e1e4e6;
    color: rgb(80, 80, 80);
    margin: 0;
    padding: 1vw;
    text-decoration: none;

    &:hover {
      background-color: rgba(109, 161, 206, 0.15);
    }

    &.active {
      background-color: rgb(40, 96, 144);
      color: rgb(255, 255, 255);
    }
  }
}

.sidebar.right {
  @include extrasmall {
    display: none;
  }
  @include small {
    display: none;
  }
}

.video-nav {
  cursor: pointer;
}
