.landingContainer {
  text-align: center;
  align-self: center;
  padding: 0 4vh;
}

.landingPages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @include extrasmall {
    flex-wrap: wrap;
    flex-direction: row;
  }
  @include small {
  }
  @include medium {
  }
  @include large {
  }
  @include extralarge {
  }

  button {
    border: 1px solid #e1e4e6;
    background: #e65b5b;
    border-radius: 5px;
    max-width: 100%;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.15);
    flex-basis: 30%;
    margin-bottom: 4vh;

    @include extrasmall {
      flex-basis: 100%;
    }

    @include small {
      flex-basis: 48%;
    }

    a {
      text-decoration: none;
      padding: 3vh 0;
      color: white;
      font-weight: 700;
      font-size: 1.3rem;

      @include medium {
        padding: 4vh 0;
      }
      @include large {
        padding: 4vh 0;
      }
      @include extralarge {
        padding: 4vh 0;
      }
    }

    &:hover {
      transition: 0.3s;
      background: darken(#e65b5b, 5%);
      box-shadow: 8px 8px rgba(0, 0, 0, 0.15);
    }
  }
}

.landingDescription {
  border: 1px solid #e1e4e6;
  border-radius: 5px;
  padding: 4vh 4vw;
  margin-bottom: 2vh;
  min-width: 60vw;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  @include extrasmall {
    margin-bottom: 4vh;
  }
  @include small {
    margin-bottom: 4vh;
  }
  @include large {
    font-size: 1.4rem;
  }
  @include extralarge {
    font-size: 1.4rem;
  }
  p {
    margin: 0;
  }
}

.pageHeader.landing {
  padding: 8vh 0;
}
